snippet nfn "Normal function of rust"
fn ${1:main}() {
	${0}
}
endsnippet

snippet pnfn "Public normal function of rust"
pub fn ${1:main}() {
	${0}
}
endsnippet

snippet anfn "Async normal function of rust"
async fn ${1:main}() {
	${0}
}
endsnippet
